:root {
    --bug: #9BBA48;
    --grass: #93b928;
    --dark: #595761;
    --poison: #595761;
    --dragon: #447AC6;
    --electric: #ecd343;
    --fairy: #E296E1;
    --fighting: #C44D61;
    --ground: #CE8056;
    --ice: #8BCEC1;
    --normal: #A0A29F;
    --poison: #AC6ACA;
    --physic: #EB8B85;
    --psychic: #eb8b85;
    --rock: #8BCEC1;
    --ghost: #616EB7;
    --steel: #6594A1;
    --flying: #A6BBE8;
    --water: #1254af;
    --fire : #ff5f15;

    --bg-bug: #9cba482a;
    --bg-grass: #9cba482a;
    --bg-dark: #5957612a;
    --bg-poison: #5957612a;
    --bg-dragon: #447AC62a;
    --bg-electric: #ecd3432a;
    --bg-fairy: #E296E12a;
    --bg-fighting: #C44D612a;
    --bg-ground: #CE80562a;
    --bg-ice: #8BCEC12a;
    --bg-normal: #A0A29F2a;
    --bg-poison: #AC6ACA2a;
    --bg-physic: #EB8B852a;
    --bg-psychic: #f058d62a;
    --bg-rock: #8BCEC12a;
    --bg-ghost: #616EB72a;
    --bg-steel: #6594A12a;
    --bg-flying: #A6BBE82a;
    --bg-water: #1254af2a;
    --bg-fire : #ff5f152a;
    
}

#all:hover{

}
#bug:hover{
    color: var(--bug);
    transition: .3s;
}
#grass:hover{
    color: var(--grass);
    transition: .3s;
}
#dark:hover{
    color: var(--dark);
    transition: .3s;
}
#dragon:hover{
    color: var(--dragon);
    transition: .3s;
}
#eletric:hover{
    color: var(--electric);
    transition: .3s;
}
#water:hover{
    color: var(--water);
    transition: .3s;
}

#fire:hover{
    color: var(--fire);
    transition: .3s;
}
#fairy:hover{
    color: var(--fairy);
    transition: .3s;
}
#fighting:hover{
    color: var(--fighting);
    transition: .3s;
}
#ground:hover{
    color: var(--ground);
    transition: .3s;
}
#ice:hover{
    color: var(--ice);
    transition: .3s;
}
#normal:hover{
    color: var(--normal);
    transition: .3s;
}
#poison:hover{
    color: var(--poison);
    transition: .3s;
}
#physic:hover{
    color: var(--physic);
    transition: .3s;
}
#rock:hover{
    color: var(--rock);
    transition: .3s;
}
#ghost:hover{
    color: var(--ghost);
    transition: .3s;
}
#steel:hover{
    color: var(--steel);
    transition: .3s;
}
#flying:hover{
    color: var(--flying);
    transition: .3s;
}
li > a::first-letter {
    text-transform: uppercase;
}