@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@700&display=swap");

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


.fix-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.788);
  animation: show2 ease-in-out 0.5s;
  z-index: 600;
}
.fix-modal.active {
  transition: 0.5s ease-in-out;

  display: flex;
}
.modal {
  display: flex;
  background-color: white;
  width: 1100px;
  height: 800px;
  border-radius: 20px;
  position: relative;

  transition: 0.5s ease-in-out;
}
.modal.active {
  animation: show 0.8s;
}

.modal-close {
  width: 45px;
  height: 45px;
  background-color: white;
  position: absolute;
  top: -60px;
  right: 5px;
  font-size: 35px;
  font-family: "Quicksand", sans-serif;
  border: none;
  border-radius: 15px 1px 15px 1px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close:hover {
  transform: scale(1.05);
}

.modal-bg-type {
  height: 100%;
  width: 350px;
  position: absolute;
  /* background-image: url(../img/bg-types/fire.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

.modal-bg-type img {
  min-height: 400px;
  max-width: 400px;
  position: absolute;
  top: 230px;
  left: 30px;
}

.modal-info {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  padding-left: 150px;
  padding-right: 40px;
  width: 70%;
  gap: 20px;
}

.modal-identifier {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.modal-poke-name {
  font-size: 40px;
}

.modal-abilities > p::first-letter {
  text-transform: uppercase !important;
}

.modal-poke-name::first-letter {
  text-transform: uppercase;
}

.modal-poke-id {
  margin-top: 10px;
  font-size: 20px;
  color: #8d8d8d;
}
.modal-type-name {
  margin-bottom: 30px;
  display: flex;
}

.modal-type-name span {

  padding: 5px 25px;
  font-size: 20px;
  opacity: 1;
  /* background-color: var(--bg-fire); */
}
.modal-type-name span::first-letter {
    text-transform: uppercase;
  }
.modal-type-name {
  padding: 0px 0px;
  font-size: 20px;
  gap: 20px;
}

/* .modal-carac {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
} */

.modal-div-carac {

  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.modal-height p::first-letter {
    text-transform: uppercase !important; 
}
.info {
font-size: 20px;
}

.modal-carac div {
  text-align: center;
}
.modal-carac div h2 {
  font-size: 20px;
}
.modal-carac div p {
  font-size: 20px;
}
.modal-title {
  font-weight: 300;
  color: #7a7a7a;
}

.modal-carac {
  font-weight: 600;
}
.modal-weak-info {
  display: flex;
  gap: 20px;
}
.modal-weak-info span {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.modal-stats {
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: 100%;
  height: 100%;
}
.num {
  font-size: 30px;
}
.modal-stats-info {
  display: flex;
  width: 265px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.stat-title {
  font-size: 25px !important;
}
.line {
  width: 400px;
  height: 7px;
  background-color: #e0e0e0;
  border-radius: 10px;
  position: relative;
}
.line-bg {
  
  height: 100%;
  background-color: red;
  border-radius: 10px;
}

.modal-stats-gap {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes show2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
p::first-letter {
}

