html {
    overflow-x: hidden;
}

@media(max-width: 957px){
    nav {
        display: none;
        animation: transition 0.5s;
        transition: .5s all ease-in-out;
        background-color: white;
        padding-bottom: 30px;
        border-radius: 10px;
        position: relative;
    }

    nav.active {
        display: flex;
        position: absolute;
        animation: transition 0.5s;
        transition: .5s all ease-in-out;
        z-index: 300;
    }
    .open-nav {
        display: flex;
        background-color: transparent;
        width: 50px;
        justify-content: center;
        align-items: center;
        height: 50px;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 40px;
       border-radius: 5px;
      }

      .open-nav.active {
        left: 200px;
      }
      @keyframes transition {
        from{
          opacity: 0;
          transform: translate3d(-50px, 0, 0);
          
        } 
      
        to{
          opacity: 1;
          transform: translate3d(0px, 0, 0);
        }
      }
      
    .img-nav{
        transform: rotate(180deg);
        width: 35px;
        transition: .5s all;
    }
    .img-nav.active {
        transition: .5s all;
        transform: rotate(0);
      }
}
@media (max-width: 1225px) {
    .card {
        width: 230px;
        height: 210px;
    }
    .card-poke-back {
        width: 120px;
        height: 120px;
    }
    .card-poke-img {
        width: 100px;
        height: 100px;
    }
    .card-poke-id {
        margin: 0;
    }
    .card-poke-type {
        width: 20px;
    }
    .card-poke-name {
        font-size: 18px;
    }
}
@media (max-width: 1095px) {
    .pokebola {
        width: 850px;
        margin-top: 30px;
    }
    .lighting {
        width: 200px;
        margin-top: 30px;
    }
    nav {
        width: 200px;
    }

}

@media (max-width: 742px) {
    .top{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .pokebola {
        width: 690px;
        margin: 0
    }
    .lighting {
        width: 150px;
        margin: 0
    }
    .position-pokeball {
        margin-top: 250px;
    }
    
    .nav {
        width: 200px !important;
    }

    .texts p {
        padding: 0px 30px;
    }
}


@media (max-width: 738px) {
    .pokebola {
        width: 690px;
        margin: 0
    }
    .lighting {
        width: 150px;
        margin: 0
    }
    .position-pokeball {
        margin-top: 250px;
    }
    
    .nav {
        width: 200px !important;
    }

    .select-text{
        font-size: 30px;
    }
    .search {
        width: 200px;
        height: 40px;
    }
    nav {
        width: 200px;
    }


}

@media(max-width: 382px) {
    .texts h2 {
        font-size: 50px;
    }
    .texts h2 {
        font-size: 50px;
    }
}

@media (max-width: 586px){
    .select {
        padding: 0px 20px;
        justify-content: center;
        gap: 30px;
        flex-direction: column;
        font-size: 20px;
    }
    .select-text {
        font-size: 40px;
        text-align: center;
        color: red;
    }
    .select-text::first-line {
        color: black;
        text-align: center;
    }
    .position-pokeball{
        margin-top: 100px;
    }
}


@media (max-width: 1037px) {
    .modal-type-icon {
        left: 30px;
        right: auto;
    }

    .modal-close {
        top: 13px;
        right: 30px;
        z-index: 500;
    }
    .fix-modal {
        align-items: baseline;
         overflow: scroll;
         height: 100%;
         width: 100%;
      
    }
    .modal {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: auto !important;
        padding-bottom: 50px;
        gap: 50px;

    }

    .modal-bg-type {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: initial;
    }
    .modal-img-poke{
        position: static;
        max-width: 250px;
        max-height: 250px;
 
    }
    .modal-info {
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: auto;
    }
    .modal-div-carac {
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .modal-div-carac > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 0;
        padding: 0;
    }
    .modal-div-carac > div > p{
        margin-top: 3px;
    }
    .modal-title {
         text-align: center;
    }
    .modal-weak {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .modal-stats {
        height: auto;
        padding-top: 30px;
    }
    .modal-stats-gap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal-stats-info {
        width: 100%;
    }


.modal-stats-info p {
    font-size: 25px !important;
}
.modal-weak-info {
    justify-content: center;
    align-items: center;
}
 }
    