@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-out;
}

.container-main button {
position: relative;
}


.container-main button:hover {
  transform:scale(1.1) ;
  transition: .3s ease-out;

}

header {
background-image: url(../img/bg-red.svg);
background-repeat: no-repeat;
background-size: cover;
background-position: center bottom;
  width: 100%;
  height: 850px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 300;
  flex-direction: column;
  position: relative;
  filter:contrast(1.1);
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  background-color: rgb(238, 238, 238);

}

h1 {
  font-weight: 200;
}

.top {
  width: 100vw;
  padding: 20px 100px;
}

.head-text {
  font-weight: 500;
}

.texts {
  text-align: center;
}

.texts h2 {
  font-size: 65px;
}
.texts p {
  font-size: 18px;
}

.pokebola {
  margin-top: 250px;
  width: 1150px;
}

.download {
  background-color: yellow;
}
.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 0px 90px;
}
.select-text {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.search {
  width: 300px;
  height: 50px;
  padding: 2px 55px 0px;
  border-radius: 60px;
  position: relative;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-position-x: 20px;
  font-size: 15px;
  outline: none;
}

main {
  width: 100%;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
  background-color: white;
  gap: 20px;
  
}
nav {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
li {
  font-size: 19px;
  color: rgb(70, 70, 70);
}
li a{
  cursor: pointer;
  text-decoration: none;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.container-main {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 17px;
  position: relative;
  width: 100%;

  flex-wrap: wrap;
  gap: 25px;
  border-left: 2px solid rgb(218, 218, 218);

}

.card {
  background-color: rgb(245, 245, 245);
  width: 280px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 1px;
  position: relative;
  animation: transition 0.5s;
  box-shadow: -5px 5px 24px -15px rgba(0,0,0,0.75);
}

.card-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-poke-back {
  background-color: rgba(248, 6, 6, 0.637);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-poke-img {
  min-height: 140px;
  max-width: 140px;
}

.card-poke-img2 {
  width: 170px;
}
.card-poke-id {
  font-size: 15px;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
}

.card-poke-type {
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.card-poke-name {
  display: flex;
  width: 100%;
  font-size: 19px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.card-center-stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.load {
  width: 300px;
  height: 90px;
  font-size: 30px;
  background-color: rgba(255, 0, 0, 0.849);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.load:hover {
  transform: scale(1.05);
  transition: 0.5s all ease-in-out;
}

.cardBtn {
  position: relative;
}

.card-id {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 500;
}